.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 0.67em 0;
}

.select-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;

  &__item {
    flex: 1;
    padding: 0 11px 15px;
    min-width: 160px;

    &:first-child {
      padding: 0 11px 15px 0;
    }
  }

  &__checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
      padding: 0 10px;
    }
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0 20px;
  text-align: left;
}

.search-box {
  display: flex;
  margin-bottom: 15px;
  width: auto;
  padding: 0 0 0 11px;

  & label {
    width: 100%;
  }
}

.btn-search {
  display: inline-block;
  margin-left: 6px;
  width: 32px;
  height: inherit;
  line-height: normal;
  background: #fff url(../../../assets/icon-search-25.png) center no-repeat;
  border: none;
  outline: none;
  border-radius: 4px;
}

.search-title {
  width: 100%;
  padding: .3em .5em;
  height: 2.3em;
  background-color: #fff;
  border: 1px solid #706f6f;
  border-radius: 6px;
  outline: none;

  &:focus {
    border-color: #129fea;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--blueColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blueColor);
}

input:checked + .slider:before {
  transform: translateX(26px);
}



@media screen and (max-width: 36em) {
  .select-box {
    &__item,
    &__item:first-child {

      width: 100%;
      min-width: 260px;
      padding: 0 0 15px 0;
    }
  }
}

@media screen and (max-width: 48em) {
  h1 {
    font-size: 32px;
  }
  .search-box {
    width: 100%;
    padding: 0;
  }

  .select-box__item:last-child {
    padding: 0 0 15px 11px;
  }


}



